version: "2.1"

services:

  webtop:
    image: lscr.io/linuxserver/webtop:latest
    container_name: webtop
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=998
      - PGID=100
      - TZ=Europe/Madrid
      - KEYBOARD=es-es-qwerty #optional      
    volumes:
      - /config:/config
      - /var/run/docker.sock:/var/run/docker.sock #optional
    ports:
      - 8200:3000
    shm_size: "1gb" #optional
    restart: unless-stopped
    
    
